Every year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sectionsâ€”reading, math, and writing, each with a maximum score of 800 points. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.

Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend.

You have been provided with a dataset called schools.csv, which is previewed below.

You have been tasked with answering three key questions about New York City (NYC) public school SAT performance.

In [2]:
# load modules
import pandas as pd

# load data
schools = pd.read_csv('schools.csv')
schools.head()

,school_name,borough,building_code,average_math,average_reading,average_writing,percent_tested
0,"New Explorations into Science, Technology and ...",Manhattan,M022,657,601,601,NaN
1,Essex Street Academy,Manhattan,M445,395,411,387,78.9
2,Lower Manhattan Arts Academy,Manhattan,M445,418,428,415,65.1
3,High School for Dual Language and Asian Studies,Manhattan,M445,613,453,463,95.9
4,Henry Street School for International Studies,Manhattan,M056,410,406,381,59.7

In [3]:
# best math schools
mask = schools['average_math'] >= 0.8 * 800
best_math_schools = schools[mask][['school_name', 'average_math']].sort_values(by='average_math', ascending=False)
best_math_schools.head(10)

                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683
280                     Brooklyn Technical High School           682
333                        Townsend Harris High School           680
174  High School of American Studies at Lehman College           669
0    New Explorations into Science, Technology and ...           657
45                       Eleanor Roosevelt High School           641

In [4]:
# top 10 schools
schools['total_SAT'] = schools['average_math'] + schools['average_reading'] + schools['average_writing']
top_10_schools = schools[['school_name', 'total_SAT']].sort_values(by='total_SAT', ascending=False)

top_10_schools.head(10)

                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   High School for Mathematics, Science, and Engi...       1889

In [5]:
# largest standard deviation borough
largest_std_dev = pd.pivot_table(schools, values=['school_name','total_SAT'], index='borough', aggfunc={'school_name':'count', 'total_SAT': ['mean', 'std']})
# format a little bit
largest_std_dev.columns = ['num_schools', 'average_SAT', 'std_SAT']
largest_std_dev['average_SAT'], largest_std_dev['std_SAT'] = largest_std_dev['average_SAT'].round(2), largest_std_dev['std_SAT'].round(2)
largest_std_dev = largest_std_dev[largest_std_dev['std_SAT'] == max(largest_std_dev['std_SAT'])]
# largest_std_dev = largest_std_dev.sort_values(by='std_SAT', ascending=False)

largest_std_dev.head()

           num_schools  average_SAT  std_SAT
borough
Manhattan           89      1340.13   230.29